@charset "UTF-8";
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 両端配置 */
  padding: 22px 15px; /* 左右に余白つけるとバランス良い */
}
@media screen and (min-width: 768px) {
  .header_inner {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header_logo img {
  width: 100px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header_logo img {
    width: 135px;
  }
}

.header_nav {
  display: none; /* SPでは非表示、PCで表示させたいならメディアクエリで切り替え */
}
@media screen and (min-width: 768px) {
  .header_nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.header_link {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 3%;
  font-weight: bold;
  color: #111;
}

.header_button {
  border-radius: 60px;
  border: solid 1px #111;
  color: #111;
  padding: 10px 30px;
  background: white;
  font-weight: bold;
}

.drawer_icon {
  position: relative;
  width: 36px;
  height: 21px;
}
@media screen and (min-width: 768px) {
  .drawer_icon {
    display: none;
  }
}

.drawer_icon-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  background: #111;
}
.drawer_icon-bar:nth-of-type(1) {
  top: 0;
}
.drawer_icon-bar:nth-of-type(2) {
  top: 8px;
}
.drawer_icon-bar:nth-of-type(3) {
  top: 16px;
}