@charset "UTF-8";
@media screen and (min-width: 768px) {
  .is-pc {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-sp {
    display: none;
  }
}

.header_inner {
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: space-between; /* 両端配置 */
  padding: 22px 15px; /* 左右に余白つけるとバランス良い */
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header_inner {
    max-width: 1070px;
  }
}

.header_logo img {
  width: 100px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header_logo img {
    width: 135px;
  }
}

.header_nav {
  display: none; /* SPでは非表示、PCで表示させたいならメディアクエリで切り替え */
}
@media screen and (min-width: 768px) {
  .header_nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.header_link {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 3%;
  font-weight: bold;
  color: #111;
}

.header_button {
  border-radius: 60px;
  border: solid 1px #111;
  color: #111;
  padding: 10px 30px;
  background: white;
  font-weight: bold;
}

.drawer_icon {
  position: relative;
  width: 36px;
  height: 21px;
}
@media screen and (min-width: 768px) {
  .drawer_icon {
    display: none;
  }
}

.drawer_icon-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  background: #111;
}
.drawer_icon-bar:nth-of-type(1) {
  top: 0;
}
.drawer_icon-bar:nth-of-type(2) {
  top: 8px;
}
.drawer_icon-bar:nth-of-type(3) {
  top: 16px;
}

.mv {
  border-radius: 20px;
  max-width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#F0D320, #F8B819);
}
.mv_inner {
  padding: 50px 20px 255px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .mv_inner {
    padding-top: 110px;
    padding-bottom: 109px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.mv_lead-1,
.mv_lead-2 {
  display: block;
  border-radius: 5px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  font-feature-settings: "pal" on;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 2.2px;
  background: #fafafa;
}
@media screen and (min-width: 768px) {
  .mv_lead-1,
  .mv_lead-2 {
    margin-left: 0;
    margin-right: 0;
    padding: 12px 16px;
  }
}

.mv_lead-2 {
  margin-top: 8px;
}

.mv_text {
  margin-top: 26px;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 3%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv_text {
    text-align: left;
    margin-top: 20px;
  }
}

.mv_button {
  text-align: center;
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .mv_button {
    text-align: left;
    margin-top: 30px;
  }
}
.mv_button a {
  display: inline-block;
  color: white;
  background: #111;
  text-align: center;
  border-radius: 60px;
  padding: 10px 30px;
}

.mv_img {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -108px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv_img {
    width: 57.6923076923%;
    bottom: -120px;
    text-align: right;
  }
}
.mv_img img {
  width: 345px;
}
@media screen and (min-width: 768px) {
  .mv_img img {
    width: 600px;
  }
}

.case {
  padding: 60px 0 60px;
}
@media screen and (min-width: 768px) {
  .case {
    padding: 70px 0 70px;
  }
}

.case_inner {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (min-width: 768px) {
  .case_inner {
    max-width: 840px;
  }
}

.case_title {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 10%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .case_title {
    font-family: Noto Sans JP;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 10%;
    text-align: center;
  }
}

.case_items {
  margin-top: 36px;
}

.case_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;
}
@media screen and (min-width: 768px) {
  .case_item {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 48px;
  }
}

.case_img img {
  width: 140px;
  display: block;
}

.News {
  padding: 60px 0 60px;
}
.News_inner {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .News_inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 105px;
    padding-right: 105px;
  }
}

.News_head {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  text-align: center;
  line-height: 100%;
  letter-spacing: 10%;
}
@media screen and (min-width: 768px) {
  .News_head {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 10%;
  }
}

.News_card {
  background: #FFFFFF;
  box-shadow: #F4F4F4;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .News_card {
    padding-top: 40px;
    padding-bottom: 34px;
    border-radius: 30px;
  }
}

.News_list {
  margin-top: 38px;
}
.News_link {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .News_link {
    align-items: center;
    flex-direction: row;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.News_lists:nth-child(n+2) {
  position: relative;
}
.News_lists:nth-child(n+2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #111;
}

.News_meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .News_meta {
    flex-shrink: 0;
    width: 247px;
  }
}

.News_date {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .News_date {
    font-family: Noto Sans JP;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0%;
  }
}

.News_label {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 8px;
  line-height: 170%;
  letter-spacing: 0%;
  color: #fafafa;
  padding: 2px 15px;
  min-width: 64px;
  text-align: center;
}
.News_label.is-orange {
  background: #E4780C;
}
.News_label.is-green {
  background: #389B47;
}
.News_label.is-yellow {
  background: #ECB815;
}

.News_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .News_title {
    font-size: 14px;
  }
}

.News_more {
  margin-top: 22px;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .News_more {
    text-align: right;
  }
}
.News_more a {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  display: inline-block;
  border-bottom: 2px solid #111;
  padding-bottom: 8px;
}

.About {
  overflow: hidden;
  padding: 60px 0 60px;
}
@media screen and (min-width: 768px) {
  .About {
    padding: 50px 0 50px;
  }
}

.About_logo {
  text-align: center;
}
.About_logo img {
  width: 180px;
}
@media screen and (min-width: 768px) {
  .About_logo img {
    width: 230px;
  }
}

.About_contens {
  text-align: center;
  margin-top: 150px;
  position: relative;
  padding-top: 288px;
}
@media screen and (min-width: 768px) {
  .About_contens {
    margin-top: 176px;
    padding-top: 264px;
    padding-bottom: 100px;
  }
}
.About_contens::before {
  position: absolute;
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(#F0D320, #F8B819);
  z-index: -1;
  content: "";
}
@media screen and (min-width: 768px) {
  .About_contens::before {
    width: 800px;
    height: 800px;
  }
}

.About_img {
  position: absolute;
  text-align: center;
  top: -110px;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .About_img {
    top: -126px;
  }
}
.About_img img {
  width: 320px;
}
@media screen and (min-width: 768px) {
  .About_img img {
    width: 330px;
  }
}

.About_contens-text {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .About_contens-text {
    margin-top: 40px;
  }
}

.About_contens-sub-text {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 8%;
  text-align: center;
  color: #111111;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .About_contens-sub-text {
    margin-top: 42px;
  }
}

.About_button {
  margin-top: 12px;
}
.About_button a {
  display: inline-block;
  background: #fafafa;
  border: solid 1px #111;
  border-radius: 60px;
  padding: 10px 30px;
  color: #111111;
}

.Movie {
  background: url(../img/bg\ \(5\).png) repeat top left/529px auto;
  width: 100%;
  padding: 60px 0 60px;
}
@media screen and (min-width: 768px) {
  .Movie {
    padding: 100px 0 100px;
  }
}

.Movie_heading {
  text-align: center;
}

.Movie_head {
  margin-top: 60px;
  font-weight: 700;
  font-style: Bold;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 10%;
}
@media screen and (min-width: 768px) {
  .Movie_head {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 10%;
  }
}

.Movie_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 8%;
  text-align: center;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .Movie_text {
    width: 229;
    height: 16;
    top: 164px;
    left: 605px;
    angle: 0 deg;
    opacity: 1;
  }
}

.Movie_contens {
  text-align: center;
  margin-top: 32px;
}
.Movie_contens iframe {
  width: 345px;
  height: auto;
  aspect-ratio: 345/194;
}
@media screen and (min-width: 768px) {
  .Movie_contens iframe {
    width: 640px;
    aspect-ratio: 640/360;
  }
}

.How_to-use {
  padding: 60px 0 60px;
}
@media screen and (min-width: 768px) {
  .How_to-use-inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.How_to-use_heading {
  text-align: center;
}

.How_to-use_head {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 10%;
}
.How_to-use_text {
  margin-top: 14px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 8%;
  text-align: center;
}
.How_to-use-boxes {
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  gap: 112px;
}
.How_to-use-box {
  padding: 54px 40px 48px;
  background: #FFFBF0;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.How_to-box-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.How_to-box-title img {
  width: 85px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: calc(100% + 16px);
}

.How_to-steps {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .How_to-steps {
    flex-direction: row;
  }
}

.ste_box {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 46px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.step_box-title {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  content: "";
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 25px;
  text-align: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background: #E4780C;
}
.step_box-title.is_How-yellow {
  background: #FABE00;
}

.step_box-head {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  color: #111;
  line-height: 100%;
  letter-spacing: 10%;
}

.step_box-number {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 34px;
  color: white;
  line-height: 100%;
  letter-spacing: 10%;
}

.step_box-body {
  text-align: center;
  border: solid 3px #111;
  border-radius: 30px;
  padding: 20px 40px;
  background: white;
  width: 265px;
  padding: 50px 20px 26px;
}

.step_box-img {
  margin-top: 10px;
}
.step_box-img img {
  width: 160px;
}

.step_box-body-text {
  margin-top: 10px;
  font-weight: 700;
  font-style: Bold;
  font-size: 13px;
  line-height: 170%;
  letter-spacing: 3%;
  text-align: center;
}

.cta_inner {
  padding: 50px 0 50px;
  background: linear-gradient(#F8BD1E, #F0D320);
}
@media screen and (min-width: 768px) {
  .cta_inner {
    padding: 60px 0 60px;
  }
}

.cta_contens {
  text-align: center;
}

.cta_contens-text {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 3%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .cta_contens-text {
    font-size: 18px;
  }
}

.cta_button {
  margin-top: 16px;
}
.cta_button a {
  display: inline-block;
  background: #FFFFFF;
  border: solid 1px #111;
  padding: 10px 30px;
  border-radius: 60px;
}/*# sourceMappingURL=style.css.map */