$font-jp: 'Noto Sans JP', sans-serif;
$font-en: 'Montserrat', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.7;
$color-base: #111;
$background-color-base: #fafafa;
$color-key1: #f5810e;
$color-key2: #fabe00;
$color-gradation: linear-gradient(90deg, #f8b819 0%, #f0d320 0 100%);
$width-inner: 1140px;
$breakpoints: (
  sp: "screen and (max-width: 767px)",
  pc: "screen and (min-width: 768px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
.inner{

}
.header {
 
  @include mq(pc) {
  }
}

.header_inner {
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: space-between; /* 両端配置 */
  padding: 22px 15px; /* 左右に余白つけるとバランス良い */
  max-width: calc(1140px + 15px * 2);
   margin-left: auto;
   margin-right: auto;
  @include mq(pc) {
    max-width: calc(1040px + 15px * 2);
   

  }
}

.header_logo img {
  width: 100px;
  display: block;
  @include mq(pc) {
    width: 135px;
  }
}

.header_nav {
  display: none; /* SPでは非表示、PCで表示させたいならメディアクエリで切り替え */
  @include mq(pc) {
    display: flex;
    align-items: center;
    gap: 40px;
  

  }
}
.header_link{
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 170%;
letter-spacing: 3%;
font-weight: bold;
color: #111;


}
.header_button{
   
    border-radius: 60px;
    border: solid 1px #111;
    color: #111;
    padding: 10px 30px ;
    background: #ffff;
    font-weight: bold;
    
}
.drawer_icon {
    position: relative;
  width: 36px;
  height: 21px;
  @include mq(pc) {
    display: none;
  }
}

.drawer_icon-bar {
position: absolute;
 top: 0;
 left: 0;
  width: 36px;
  height: 3px;
  background: #111;
  &:nth-of-type(1){
    top: 0;
    
  }
  &:nth-of-type(2){
    top: 8px;

  }
  &:nth-of-type(3){
    top: 16px;

  }
}
// mv
.mv{
    border-radius: 20px ;
    max-width: calc(100% - 15px * 2);
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient( #F0D320, #F8B819);
    @include mq(pc) {
        
    }

}
.mv_inner{
    padding: 50px 20px  255px ;
position: relative;
@include mq(pc) {
    padding-top: 110px;
    padding-bottom: 109px;
      max-width: calc(1040px + 30px * 2);
        margin-left: auto;
        margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

}
.mv_contens{
    

}
.mv_lead{

}
.mv_lead-1,
.mv_lead-2{
    display: block;
    border-radius: 5px;
    padding: 10px ;
    margin-left: auto;
    margin-right: auto;
font-feature-settings: 'pal' on;
width: fit-content;
font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 22px;
line-height: 1;
letter-spacing: 2.2px;
background: #fafafa;
@include mq(pc) {
    margin-left: 0;
    margin-right: 0;
    padding: 12px 16px;
}


}
.mv_lead-2{
    margin-top: 8px;

}
.mv_text{
    margin-top: 26px;
    font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 170%;
letter-spacing: 3%;
text-align: center;
@include mq(pc) {
    text-align: left;
    margin-top: 20px;
}


}
.mv_button{
    text-align: center;
    margin-top: 22px;
    @include mq(pc) {
        text-align: left;
        margin-top: 30px;
    }
    a{
        display: inline-block;
        color: #ffff;
        background: #111;
        text-align: center;
        border-radius:60px  ;
        padding: 10px 30px ;

    }
}
.mv_img{
    position: absolute;
    width: 100%;
    right: 0;
    bottom: -108px;
    text-align: center;
    @include mq(pc) {
        width: calc(600px / 1040px  * 100%);
        bottom: -120px;
        text-align: right;
    }
    img{
        
        width: 345px;
        @include mq(pc) {
            width: 600px;
        }


    }
}
// case
.case{
    padding: 60px 0 60px ;
    @include mq(pc) {
        padding: 70px 0 70px ;
    }

}
.case_inner{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    @include mq(pc) {
            max-width: calc(920px - 40px * 2);
    }

}
.case_title{
    font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 100%;
letter-spacing: 10%;
text-align: center;
@include mq(pc) {
    font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 100%;
letter-spacing: 10%;
text-align: center;

}


}
.case_items{
    margin-top: 36px

}
.case_item{
    display:grid;
   grid-template-columns: repeat(2,1fr);
   gap: 22px 15px;
   @include mq(pc) {
    grid-template-columns: repeat(4,1fr);
   gap: 24px 48px;
   }

}
.case_img{
    img{
        width: 140px;
        display: block;

    }
}