html, body {
  margin: 0;
  padding: 0;
}

$font-jp: 'Noto Sans JP', sans-serif;
$font-en: 'Montserrat', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.7;
$color-base: #111;
$background-color-base: #fafafa;
$color-key1: #f5810e;
$color-key2: #fabe00;
$color-gradation: linear-gradient(90deg, #f8b819 0%, #f0d320 0 100%);
$width-inner: 1140px;
$breakpoints: (
  sp: "screen and (max-width: 767px)",
  pc: "screen and (min-width: 768px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
.is-pc{
    @include mq(pc) {
    display: none;
  }

}
.is-sp{
    @include mq(sp) {
    display: none;
  }

}
.inner{

}
.header {
 
  
}

.header_inner {
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: space-between; /* 両端配置 */
  padding: 22px 15px; /* 左右に余白つけるとバランス良い */
  max-width: calc(1140px + 15px * 2);
   margin-left: auto;
   margin-right: auto;
  @include mq(pc) {
    max-width: calc(1040px + 15px * 2);
   

  }
}

.header_logo img {
  width: 100px;
  display: block;
  @include mq(pc) {
    width: 135px;
  }
}

.header_nav {
  display: none; /* SPでは非表示、PCで表示させたいならメディアクエリで切り替え */
  @include mq(pc) {
    display: flex;
    align-items: center;
    gap: 40px;
  

  }
}
.header_link{
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 170%;
letter-spacing: 3%;
font-weight: bold;
color: #111;


}
.header_button{
   
border-radius: 60px;
border: solid 1px #111;
color: #111;
padding: 10px 30px ;
background: #ffff;
font-weight: bold;
    
}
.drawer_icon {
    position: relative;
  width: 36px;
  height: 21px;
  @include mq(pc) {
    display: none;
  }
}

.drawer_icon-bar {
position: absolute;
 top: 0;
 left: 0;
  width: 36px;
  height: 3px;
  background: #111;
  &:nth-of-type(1){
    top: 0;
    
  }
  &:nth-of-type(2){
    top: 8px;

  }
  &:nth-of-type(3){
    top: 16px;

  }
}

// mv
.mv{
    border-radius: 20px ;
    max-width: calc(100% - 15px * 2);
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient( #F0D320, #F8B819);
    @include mq(pc) {
        
    }

}
.mv_inner{
    padding: 50px 20px  255px ;
position: relative;
@include mq(pc) {
    padding-top: 110px;
    padding-bottom: 109px;
      max-width: calc(1040px + 30px * 2);
        margin-left: auto;
        margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

}
.mv_contens{
    

}
.mv_lead{

}
.mv_lead-1,
.mv_lead-2{
display: block;
border-radius: 5px;
padding: 10px ;
margin-left: auto;
margin-right: auto;
font-feature-settings: 'pal' on;
width: fit-content;
font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 22px;
line-height: 1;
letter-spacing: 2.2px;
background: #fafafa;
@include mq(pc) {
margin-left: 0;
margin-right: 0;
padding: 12px 16px;
}


}
.mv_lead-2{
    margin-top: 8px;

}
.mv_text{
    margin-top: 26px;
    font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 170%;
letter-spacing: 3%;
text-align: center;
@include mq(pc) {
    text-align: left;
    margin-top: 20px;
}


}
.mv_button{
    text-align: center;
    margin-top: 22px;
    @include mq(pc) {
        text-align: left;
        margin-top: 30px;
    }
    a{
        display: inline-block;
        color: #ffff;
        background: #111;
        text-align: center;
        border-radius:60px  ;
        padding: 10px 30px ;

    }
}
.mv_img{
    position: absolute;
    width: 100%;
    right: 0;
    bottom: -108px;
    text-align: center;
    @include mq(pc) {
        width: calc(600px / 1040px  * 100%);
        bottom: -120px;
        text-align: right;
    }
    img{
        
        width: 345px;
        @include mq(pc) {
            width: 600px;
        }


    }
}

// case
.case{
    padding: 60px 0 60px ;

    @include mq(pc) {
        padding: 70px 0 70px ;
    }

}
.case_inner{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    @include mq(pc) {
max-width: calc(920px - 40px * 2);
    }

}
.case_title{
    font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 100%;
letter-spacing: 10%;
text-align: center;
@include mq(pc) {
    font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 100%;
letter-spacing: 10%;
text-align: center;

}


}
.case_items{
    margin-top: 36px

}
.case_item{
    display:grid;
   grid-template-columns: repeat(2,1fr);
   gap: 22px 15px;
   @include mq(pc) {
    grid-template-columns: repeat(4,1fr);
   gap: 24px 48px;
   }

}
.case_img{
    img{
        width: 140px;
        display: block;

    }
}
// News
.News{
    padding: 60px 0 60px;
    @include mq(pc) {
   
    }

}
.News_inner{
    padding-left: 15px;
    padding-right: 15px;
    @include mq(pc) {
        max-width: calc(1140px + 30px * 2);
        margin-left: auto;
        margin-right: auto;
        padding-left: 105px;
        padding-right: 105px;
    }

}
.News_head{
    font-family: Montserrat;
font-weight: 700;
font-style: Bold;
text-align: center;
line-height: 100%;
letter-spacing: 10%;
@include mq(pc) {
font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 50px;
line-height: 1;
letter-spacing: 10%;

}


}
.News_card{
    background:#FFFFFF ;
    box-shadow:#F4F4F4 ;
    border-radius: 20px;
    @include mq(pc) {
         padding-top: 40px;
    padding-bottom: 34px;
        border-radius: 30px;
    }
   
}
.News_list{
    margin-top: 38px;
    @include mq(pc) {
    }

}
.News_link{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include mq(pc) {
        align-items: center;
        flex-direction: row;
        padding-top: 12px;
        padding-bottom: 12px;
    }

}
.News_lists {
  &:nth-child(n + 2) {
    position: relative;

    &::before {
      content: "";                // ← 必須
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #111;           // ← border ではなく background にする
    }
  }
}
.News_meta{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:12px ;
    @include mq(pc) {
        flex-shrink: 0;
        width: 247px;
       
    }
    

}
.News_date{
font-family: Noto Sans JP;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 1;

@include mq(pc) {
font-family: Noto Sans JP;
font-weight: 400;
font-size: 16px;
line-height: 170%;
letter-spacing: 0%;

}
     

}
.News_label{
font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 8px;
line-height: 170%;
letter-spacing: 0%;
color: #fafafa;
 padding: 2px 15px ;
min-width: 64px;
text-align: center;
&.is-orange{
background: #E4780C;
}
&.is-green{
background:#389B47;
}
&.is-yellow{
background: #ECB815;
}

        

    }

.News_title{
font-weight: 400;
font-size: 16px;
line-height: 1;
@include mq(pc) {
    font-size: 14px;
}
 

}
.News_more{
    margin-top: 22px;
    text-align: right;
    @include mq(pc) {
        text-align: right;
    }
    a{
font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
display: inline-block;
border-bottom: 2px solid #111;
padding-bottom:calc(10px - 2px ) ;


    }
}
// About
.About{
overflow: hidden;
padding: 60px 0 60px ;
@include mq(pc) {
padding: 50px 0 50px ;
}

    
   

}
.About_inner {

}
.About_logo{
text-align: center;
  
img{
width: 180px;
@include mq(pc) {
width: 230px;
}

}
}
.About_contens{
text-align: center;
margin-top: 150px;
position: relative;
padding-top: 288px;
@include mq(pc) {
margin-top: 176px;
padding-top: 264px;
padding-bottom: 100px;
}
      
&::before{
position: absolute;
width: 1100px;
height: 1100px;
border-radius: 50%;
top: 0;
left: 50%;
transform: translateX(-50%);
background: linear-gradient( #F0D320, #F8B819);
z-index: -1;
content: "";
@include mq(pc) {
width: 800px;
height: 800px;
}
}
}
.About_img{
position: absolute;
text-align: center;
top: -110px;
left: 0;
width: 100%;
@include mq(pc) {
top: -126px;
}
img{
width: 320px;
 @include mq(pc) {
width: 330px;
}
}
}
.About_contens-text{
font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 2;
letter-spacing: 0%;
text-align: center;
@include mq(pc) {
margin-top: 40px;
}

    

}
.About_contens-sub-text{
font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 100%;
letter-spacing: 8%;
text-align: center;
color: #111111;
margin-top: 40px;
@include mq(pc) {
margin-top: 42px;
}
}
.About_button{
margin-top: 12px;
a{
display: inline-block;
background: #fafafa;
border: solid 1px #111;
border-radius: 60px;
padding: 10px 30px ;
color: #111111;
}
}
// Movie
.Movie{
background: url(../img/bg\ \(5\).png) repeat top left / 529px auto;
width: 100%;
padding: 60px 0 60px ;
@include mq(pc) {
padding: 100px 0 100px ;
}
}
.Movie_inner{

}
.Movie_heading{
text-align: center;
}
.Movie_head{
margin-top: 60px;
font-weight: 700;
font-style: Bold;
font-size: 38px;;
line-height: 100%;
letter-spacing: 10%;
@include mq(pc) {
font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 50px;
line-height: 100%;
letter-spacing: 10%;

}


}
.Movie_text{
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 8%;
text-align: center;
margin-top: 14px;
@include mq(pc) {
width: 229;
height: 16;
top: 164px;
left: 605px;
opacity: 1;

}


}
.Movie_contens{
text-align: center;
margin-top:  32px;
iframe{
width: 345px;
max-width: 100%;
height: auto;
aspect-ratio: 345/194;
@include mq(pc) {
width: 640px;
aspect-ratio: 640/360;
}
}
}
// How to use
.How_to-use{
padding: 60px 0 60px ;
@include mq(pc) {
padding: 100px 0 100px ;
}
}
.How_to-use-inner{
@include mq(pc) {
max-width: calc(1140px + 30px * 2);
margin-left: auto;
margin-right: auto;
}

}
.How_to-use_heading{
    text-align: center;

}
.How_to-use_head{
font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 38px;
line-height: 100%;
letter-spacing: 10%;
@include mq(pc) {
}


}
.How_to-use_text{
margin-top: 14px;
font-family: Montserrat;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 8%;
text-align: center;
@include mq(pc) {
font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 8%;
text-align: center;


}


}
.How_to-use-boxes{
margin-top: 104px;
display: flex;
flex-direction: column;
gap: 112px;
@include mq(pc) {
margin-top: 89px;
gap: 75px;
}
}
.How_to-use-box{
padding: 54px 40px 48px;
background: #FFFBF0;
border-radius: 30px;
margin-left: 20px;
margin-right: 20px;
@include mq(pc) {
padding: 44px 10px 56px ;
border-radius:  40px;
}
}
.How_to-box-title{
text-align: center;
font-size: 18px;
font-weight: 700;
position: relative;
@include mq(pc) {
font-size: 22px;
padding-right: 95px;
width: fit-content;
margin-left: auto;
margin-right: auto;
}
img{
width: 85px;
position: absolute;
right: 50%;
transform: translateX(50%);
bottom: calc(100% + 16px);
@include mq(pc) {
right: 0;
transform: translateX(0);
bottom: 0;
}
}
}
.How_to-steps{
margin-top: 20px;
display: flex;
flex-direction: column;
gap: 20px;
@include mq(pc) {
flex-direction: row;
gap: 24px;
max-width: 948px;
margin-left: auto;
margin-right: auto;
}
}

.How_to-step{
@include mq(pc) {
flex: 1;
}
}
.ste_box{
margin-left: 40px;
margin-right: 40px;
margin-top: 46px;
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
align-items: center;
}
.step_box-title{
position: absolute;
display: flex;
justify-content: center;
flex-direction: column;
content: "";
top: -50px;
left: 50%;
transform: translateX(-50%);
padding: 20px 25px;
text-align: center;
border-radius:  50%;
width: 90px;
height: 90px;
background: #E4780C;


&.is_How-yellow{
    background:#FABE00 ;
}
 
   
     

}
.step_box-head{
font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 15px;
color: #111;
line-height: 100%;
letter-spacing: 10%;

   

}
.step_box-number{
    font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 34px;
color: #ffff;
line-height: 100%;
letter-spacing: 10%;


}
.step_box-body{
    text-align: center;
    border: solid 3px #111;
    border-radius: 30px;
    padding: 20px  40px ;
    background: #ffff;
    width: 265px;
    padding: 50px 10px 26px;
}
.step_box-img{
    margin-top: 10px;
    img{
        width: 160px;
        @include mq(pc) {
            width: 200px;
        }

    }
}
.step_box-body-text{
margin-top: 10px;
font-weight: 700;
font-style: Bold;
font-size: 13px;
line-height: 170%;
letter-spacing: 3%;
text-align: center;
@include mq(pc) {
    font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 16px;
leading-trim: NONE;
line-height: 170%;
letter-spacing: 3%;
text-align: center;

}


}
// Merit
.Merit{
    padding: 60px 0 60px ;
    @include mq(pc) {
        padding: 100px 0 100px ;
    }
    

}
.Merit_inner{
    @include mq(pc) {
        max-width: calc(1140px + 30px * 2);
        margin-left: auto;
        margin-right: auto;

    }

}
.Merit_heading{
    text-align: center;

}
.Merit_head{
font-weight: 700;
font-style: Bold;
font-size: 38px;
line-height: 100%;
letter-spacing: 10%;


}
.Merit_text{
margin-top: 16px;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 100%;
letter-spacing: 8%;
text-align: center;


}
// 上下のgap
.Merit_boxes{
    margin-top: 30px;
display: flex;
flex-direction: column;
gap: 30px;
@include mq(pc) {
    margin-top: 60px;
    gap: 40px;
    
}
   

}
.Merit_box{
    

    


}
// 横並び
.Merit-box{
border-radius: 30px;
padding: 10px 20px 24px ;
@include mq(pc) {
        padding: 20px 110px ;
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
        &.is-reserve{
            flex-direction: row-reverse;

        }
        
    }

     
}
.Merit_box-img{
    text-align: center;
    
    img{
        width: 200px;
        @include mq(pc) {
           width: calc(350 / 920 * 100%);
        }

    }
}
.Merit_box-body-head{
display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    @include mq(pc) {
        gap: 28px;
    }

}
.Merit_box-body{
    margin-top: 18px;
    @include mq(pc) {
         width: calc(520 / 920 * 100%);
        
    }

}
.Merit_box-number{
font-weight: 600;
font-size: 70px;
line-height: 1;
color:#FABE00 ;


}
.Merit_box-text{
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 170%;
letter-spacing: 10%;


}
.Merit_box-body-text{
    
font-weight: 400;
font-size: 15px;
line-height: 2;
margin-top: 16px;

    @include mq(pc) {
       margin-top: 16px;
    }
}
// price
.price{
    padding: 60px 0 60px ;
    @include mq(pc) {
        padding: 100px 0 100px ;
    }
}
.price_inner{
   

}
.price_head{
    text-align: center;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;

}
.price_contens{
    margin-top: 42px;
  overflow-x: auto;

}
.price_table{
    width: 620px;
    text-align: center;
    border-collapse:collapse ;
    table-layout: fixed;
    @include mq(pc) {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
  
    th,td{
height: 60px;
vertical-align: middle;
@include mq(pc) {
     height: 100px;
   
}
 
 &:nth-child(1){
    width: 130px;
    @include mq(pc) {
        width: 250px;
    }
 }
 &:nth-child(2){
    width: 90px;
     background:#FFF9E5 ;
     @include mq(pc) {
        width: 90px;
     }
 }
 


}

}
th{
   
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 170%;
letter-spacing: 10%;
text-align: center;
@include mq(pc) {
    font-size: 20px;
}
 


    img{
        width: 70px;
        @include mq(pc) {
            width: 123px;
        }

    }
    

}

td{
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 170%;
letter-spacing: 3%;
@include mq(pc) {
    

}



}
thead{


}
tbody{
    tr{
        border-top: solid 1px #111;
    }
   
    

}

// cta
.cta{

}
.cta_inner{
    padding: 50px 0 50px ;
    background: linear-gradient(#F8BD1E,#F0D320);
    @include mq(pc) {
        padding: 60px 0 60px ;
    }

}
.cta_contens{
    text-align: center;

}
.cta_contens-text{
font-family: Noto Sans JP;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 200%;
letter-spacing: 3%;
text-align: center;
@include mq(pc) {
    font-size: 18px;
}


}
.cta_button{
    margin-top: 16px;
    a{
        display: inline-block;
        background: #FFFFFF;
        border:  solid 1px #111;
        padding: 10px 30px ;
        border-radius:  60px;
        @include mq(pc) {
        }

    }
}
// contact
.contact{
    padding: 60px 0 60px ;
   background: url(../img/bg\ \(5\).png) repeat top left / 529px auto;
   background-size:cover ;
    @include mq(pc) {
        padding: 100px 0 100px ;
    }

}
.contact_inner{

}
.contact_box{
    background: #fff;
    padding: 60px 20px ;
    border-radius: 30px;
    @include mq(pc) {
        padding-left: 30px;
        padding-right: 30px;
    }

}
.contact_heading{
    text-align: center;

}
.contact_head{
font-weight: 700;
font-style: Bold;
font-size: 38px;
line-height: 100%;
letter-spacing: 10%;
@include mq(pc) {
font-weight: 700;
font-style: Bold;
font-size: 50px;
line-height: 100%;
letter-spacing: 10%;

}


}
.contact_text{
    margin-top: 14px;
    @include mq(pc) {
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 8%;
text-align: center;

    }
}
.contact_form{
 margin-top: 30px;
 @include mq(pc) {
 margin-top: 50px;
 max-width:612px;
 margin-left: auto;
 margin-right: auto;
 }

}
.contact_fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include mq(pc) {
        
    }
}
.contact_fild{
    @include mq(pc) {
        display: flex;
    }

}
.contact_privacy{
    margin-top: 30px;

}
.contact_button{
    margin-top: 30px;
    @include mq(pc) {
        margin-top: 38px;
    }

}
.form_filed{
    @include mq(pc) {
        display: flex;
        gap: 32px;
    }

}
.form_filed-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    @include mq(pc) {
        width: calc(212px - 32px  );
        flex-shrink: 0;
        justify-content: flex-end;
    }

}
.form_filed-label{
    font-weight: 700;

}
.form_filed-tag{
    background: #EE8013;
    padding: 6px 8px 5px 8px ;
    text-align: center;
    color: #ffff;
    border-radius: 2px;
    font-weight: 700;
    font-size: 11px;
    @include mq(pc) {
    }
    &.is-option{
    background: #389B47;

    }

}
.form_filed-item{
    margin-top: 14px;
    flex-grow: 1;
    @include mq(pc) {
        margin-top: 0;
    }
[type ="text"],
[type ="email"]

{
border: 3px solid #111111;
background: #ffff;
padding:15px  16px 14px ;
width: 100%;

}
[type ="radio"]{
    width: 1px;
    height: 1px;
    position: absolute;
clip:rect(0,0,0,0);
overflow: hidden;
&:checked{
+ .form_filed-radio-text{
    &::after{
        opacity: 1;

    }
}
}

}
select{
border-radius: 5px;
border:  3px solid #111;
background: #ffff;
width: 100%;
font-weight: 700;
padding: 15px 45px 14px 16px ;
appearance: none;
background: url("../img/Polygon 1 (1).png") no-repeat right 16px top 20.217px / 10.182px auto;
}
textarea{
border-radius: 5px;
border: 3px solid #111;
width: 100%;
height: 180px;
padding: 16px;
}

}
// ラジオ
.form_filed-radio{

}
.form_filed-radios{
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include mq(pc) {
        flex-direction: row;
        gap: 32px;
    }

    
}

.form_filed-radio-text{
    padding-left: 28px;
    position: relative;
    &::before,
    &::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;


    }
    // 枠線の部分
    &::before{
        width: 24px;
        height: 24px;
        border: solid 3px #111;
        left: 0;
    }
    // 枠線の中身
    &::after{
        background: #F5810E;
        width: 10px;
        height: 10px;
        left: 7px;
        opacity: 0;
        
    }
    
    


}
// プライバシーポリシー
.contact_privacy{
margin-top: 30px;
text-align: center;
}
.form_checkbox{

}
.form_check-box-input{
width: 1px;
height: 1px;
position: absolute;
clip:rect(0,0,0,0);
overflow: hidden;
&:checked{
+.form_check-box-text{
&::after{
opacity: 1;
}
}
}

}
.form_check-box-text{
font-size: 14px;
font-weight: 700;
padding-left: 30px;
position: relative;
&::before,
&::after{
position: absolute;
content: "";
top: 50%;
left: 0;
transform: translateY(-50%);
}
&::before{
width: 24px;
height: 24px;
border-radius: 1px ;
border: 1px solid #111;
}
&::after{
left: -1px;
margin-top: -1.2px;
width: 20px;
height: 17.53px;
background:url(../img/Vector\ 30\ \(Stroke\).png)
no-repeat center center /contain;
opacity: 0;

}
a{
text-decoration: underline;
font-weight: inherit;
    
}

}
// 送信ボタン
.contact_button{
text-align: center;
a{
display: inline-block;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 170%;
letter-spacing: 3%;
text-align: center;
border: solid 2px #111;
padding: 10px 42px;
border-radius: 60px;

    }
   
}
//  footer
.footer{
}
.footer_inner{
 background: #111;
text-align: center;
padding-top: 18px ;
padding-bottom: 18px;

}
.footer_copyright{
font-family: Noto Sans JP;
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 8%;
text-align: center;
color: #ffff;


}
.pagetop{
position: fixed;
right: 10px;
bottom: -2px;
img{
width: 50px;
@include mq(pc) {
width: 76px;
}

}
}
.contact,
.About {
margin-bottom: 0;
padding-bottom: 0;
}
// スムーススクロール
.js-in-view {
   

}
.fade-in-up{
 opacity: 0;
    transform: translateY(24px);
    transition: opacity 1s, transform 1s ;
    &.is-in-view{
        opacity: 1;
        transform: translateY(0);

    }

}
// モーダル
.about_moudal{
    overscroll-behavior-y: none;
    position: fixed;
    inset:0;
    margin: auto ;
    max-width: calc(100% - 15% * 2);
   max-height:calc(100% - 20px  * 2) ;
   overflow: auto;
   padding: 16px 15px 64px;
   border-radius: 20px;
   background:#ffff;
   border: none;

}
.about_moudal-head{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;

}
.about_moudal-close-icon{
    img{
        width: 37px;

    }
}
.about_moudal-body{
    margin-top: 12px;
    p{font-size: 14px;
        &:nth-child(n+2){
            margin-top: 20px;
        }



    }
    

}
.about-mooudal_close-button{
    text-align: center;
    margin-top: 30px;
    .moudal_button{
        

    }
}

